<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1>Welcome to text analyzer. Enter your text below</h1>
<form action='analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 1284px; height: 140px;'></textarea><br>
    <input type="checkbox" name="removepunc">remove punctuations<br>
    <input type="checkbox" name="capfirst">first letter capital<br>
    <input type="checkbox" name="charcount">count characters<br>
    <button type="submit">analyze text</button>
</form>
</body>
</html>